#local db data
mysql_container/

#node
node_modules/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
**/.vscode
**/build
**/storage
**/locust-scripts/__pycache__/
**/__debug_bin

#air tmp directory for hot reload
tmp/